<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" 
     value="$(find mixmcl)/config/custom_rosconsole.conf"/>
  <arg name="scan_topic" default="/p3dx/laser/scan"/>
  <arg name="global_localization" default="false"/>
  <arg name="init_x" default="-9" />
  <arg name="init_y" default="8.4" />
  <arg name="init_a" default="0" />
  <arg name="max_particles" default="2000" />
  <arg name="launch-prefix" default="" />
  <node if="$(arg global_localization)" pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization"/>
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="$(arg scan_topic)" />
    <remap from="amcl_pose" to="mcl_pose" />
    <rosparam command="load" file="$(find mixmcl)/yaml/amcl.yaml"/>
    <param name="initial_pose_x" value="$(arg init_x)"/>
    <param name="initial_pose_y" value="$(arg init_y)"/>
    <param name="initial_pose_a" value="$(arg init_a)"/>
    <param name="global_localization" value="$(arg global_localization)"/>
    <param name="resample_interval" value="1"/>
    <param name="max_particles" value="1000" />
    <!--
    -->
  </node>
</launch>
