<?xml version="1.0"?>

<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" 
     value="$(find mixmcl)/config/custom_rosconsole.conf"/>
  <arg name="scan" default="/p3dx/laser/scan" />
  <arg name="init_x" default="-9" />
  <arg name="init_y" default="8.4" />
  <arg name="init_a" default="0" />
  <arg name="odom_source" default="world" />
  <arg name="laser_noise" default="0.01" />
  <arg name="max_data_count" default="10000" />
  <arg name="slowRatio" default="50"/>
  <arg name="launch-prefix" default="" />

  <!---->
  <node name="setparam" pkg="mixmcl" type="mkdatadir.sh" args="$(find mixmcl)/data buildKDT" output="screen"/>

  <!---->
  <!--param name="buildKDT/initial_pose_x" type="double" value="$(arg init_x )" />
  <param name="buildKDT/initial_pose_y" type="double" value="$(arg init_y )" />
  <param name="buildKDT/initial_pose_a" type="double" value="$(arg init_a )" />
  <param name="buildKDT/initial_cov_xx" type="double" value="0.01" />
  <param name="buildKDT/initial_cov_yy" type="double" value="0.01" />
  <param name="buildKDT/initial_cov_aa" type="double" value="0.01" />
  <param name="buildKDT/laser_noise" type="double" value="$(arg laser_noise)" /-->
  <node name="buildKDT" pkg="mixmcl" type="buildKDT" output="screen" launch-prefix="$(arg launch-prefix)">
    <remap from="scan" to="$(arg scan)"/>
    <param name="slowRatio" value="$(arg slowRatio)"/>
    <param name="max_data_count" value="$(arg max_data_count)"/>
    <param name="initial_pose_x" value="$(arg init_x )" />
    <param name="initial_pose_y" value="$(arg init_y )" />
    <param name="initial_pose_a" value="$(arg init_a )" />
    <param name="initial_cov_xx" value="0.01" />
    <param name="initial_cov_yy" value="0.01" />
    <param name="initial_cov_aa" value="0.01" />
    <param name="laser_noise" value="$(arg laser_noise)" />
  </node>

  <!--P3DX in GAZEBO-->
  <include file="$(find p3dx_gazebo)/launch/gazebo.launch">
    <arg name="gui" value="false"/>
    <arg name="init_x" value="$(arg init_x )"/>
    <arg name="init_y" value="$(arg init_y )"/>
    <arg name="init_a" value="$(arg init_a )"/>
    <arg name="odom_source" value="$(arg odom_source)"/>
    <arg name="laser_noise" value="$(arg laser_noise)"/>
  </include>
  
  <!--state publishers settins-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!--MAP SERVER-->
  <arg name="map_yaml" default="$(find p3dx_2dnav)/maps/willowgarage/willowgarage-refined.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)" />
</launch>
