<?xml version="1.0"?>
<launch>
  <arg name="scan_topic" default="/p3dx/laser/scan"/>
  <arg name="init_x" default="-9" />
  <arg name="init_y" default="8.4" />
  <arg name="init_a" default="0" />
  <arg name="max_particles" default="2000" />
  <arg name="launch-prefix" default="" />

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mixmcl)/config/custom_rosconsole.conf"/>
  <node pkg="mixmcl" type="mcmcl" name="mcmcl" output="screen" launch-prefix="$(arg launch-prefix)">
    <remap from="scan" to="$(arg scan_topic)" />
    <rosparam command="load" file="$(find mixmcl)/yaml/amcl.yaml"/>
    <param name="initial_pose_x" value="$(arg init_x)"/>
    <param name="initial_pose_y" value="$(arg init_y)"/>
    <param name="initial_pose_a" value="$(arg init_a)"/>
    <param name="dual_normalizer_ita" value="0.00001"/>
    <param name="demc_factor_gamma" value="0.95"/>
    <param name="laser_model_type" value="beam"/>
    <param name="max_particles" value="$(arg max_particles)"/>
    <!--param name="" value=""/>
    <param name="" value=""/>
    <param name="" value=""/-->
  </node>
</launch>
