<?xml version="1.0"?>

<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" 
     value="$(find mixmcl)/config/custom_rosconsole.conf"/>
  <arg name="suicide" default="false"/>
  <arg name="playbag" default="true"/>
  <arg name="record" default="false"/>
  <arg name="gazebo" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="map_yaml" default="$(find p3dx_2dnav)/maps/willowgarage/willowgarage-topleft.yaml" />
  <!--MCL package parameters-->
  <arg name="mcl_prefix" default=""/>
  <arg name="mcl_pkg" default="amcl"/>
  <arg name="global_localization" default="true"/>
  <arg name="init_x" default="-11" />
  <arg name="init_y" default="8.4" />
  <arg name="init_a" default="0" />
  <arg name="max_particles" default="3000"/>
  <arg name="resample_interval" default="2"/>
  <arg name="bagfile" default="/home/jolly/rosbag/ex3/2018-01-23-22-37-47-clean.bag"/>
  <!--
  <arg name="map_yaml" default="$(find p3dx_2dnav)/maps/willowgarage/willowgarage-refined.yaml" />
  <arg name="bagfile" default="/home/jolly/rosbag/ex1/2018-01-14-14-13-24-clean.bag"/>
  <arg name="bagfile" default="/home/jolly/rosbag/ex2/2018-01-16-14-52-43-clean.bag"/>
  -->

  <!--MAP SERVER-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)" />

  <!--AMCL and GAZEBO-->
  <include file="$(find mixmcl)/launch/$(arg mcl_pkg).launch">
    <arg name="launch-prefix" value="$(arg mcl_prefix)"/>
    <!--
    <arg name="init_x" value="-9"/>
    <arg name="init_y" value="6.4"/>
    <arg name="init_a" value="-0.707"/>
    <arg if="$(arg playbag)" name="bagfile" value="$(arg bagfile)"/>
    -->
    <arg name="global_localization" value="$(arg global_localization)"/>
    <arg name="init_x" value="$(arg init_x )"/>
    <arg name="init_y" value="$(arg init_y )"/>
    <arg name="init_a" value="$(arg init_a )"/>
    <arg name="max_particles" value="$(arg max_particles)"/>
    <arg name="resample_interval" value="$(arg resample_interval)"/>
  </include>

  <!--P3DX in GAZEBO-->
  <include file="$(find p3dx_gazebo)/launch/gazebo.launch" unless="$(arg playbag)">
    <arg name="gui" value="$(arg gazebo)"/>
    <arg name="init_x" value="$(arg init_x )"/>
    <arg name="init_y" value="$(arg init_y )"/>
    <arg name="init_a" value="$(arg init_a )"/>
  </include>

  <node name="rosbagrecorder" pkg="rosbag" type="record" if="$(arg record)" output="screen" args="-o $(arg mcl_pkg) /tf /p3dx/laser/scan /p3dx/base_pose_ground_truth /mcl_pose /particlecloud /particlecloud2 /particlecloud3"/>

<!--
  <group if="$(arg playbag)">
    <node if="$(arg suicide)"     name="rosbagplayer" pkg="mixmcl" type="playkill.sh" args="$(arg bagfile) $(arg mcl_pkg)" output="screen"/>
    <node unless="$(arg suicide)" name="rosbagplayer" pkg="rosbag" type="play" args="&#x002d;&#x002d;pause $(arg bagfile)" output="screen"/>
  </group>
-->

  <!--MOVE BASE for COSTMAP-->
  <include file="$(find p3dx_2dnav)/launch/move_base.launch" unless="$(arg playbag)">
    <arg name="cmd_vel" value="/p3dx/cmd_vel"/>
  </include>

  <!--RVIZ-->
  <include file="$(find p3dx_description)/launch/rviz.launch" if="$(arg rviz)">
    <arg name="rviz_node_args" value="-d $(find p3dx_2dnav)/config/p3dx_2dnav.rviz"/>
  </include> 

</launch>
